h1, body {
    background: lightgrey;
}

header {
    text-align: center;
}

#myList {
    width: 100%;
    list-style: none;
    max-width: 400px;
    margin: 0 auto;
}

.todo-item {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 5px 0;
}

.todo-item span {
    flex-grow: 1;
    align-items: left;
}

.strikethrough {
    text-decoration: line-through;
}