h1, body {
    text-align: center;
}

#myList {
    width: 100%;
    max-width: 500px;
    margin: 0 auto; /* centers table in container */

    td {
        text-align: left;
        overflow-wrap: break-word;
    }
}

.strikethrough {
    text-decoration: line-through;
}