h1, body {
    text-align: center;
}

#myList {
    width: 100%;
    max-width: 500px;
    table-layout: 600px;
    margin: 0 auto;

    td {
        text-align: left;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

.strikethrough {
    text-decoration: line-through;
}