* {
    box-sizing: border-box;
  }

html {
    background: #2C2C2C;
}

body {
    color: white;
}
  
  /* Container for flexboxes */
  .myflexboxRow {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create four equal entries in myflexbox */
  .myflexboxColumn {
    flex: 25%;
    padding: 20px;
  }
  
  /* Media query - on screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .myflexboxRow {
      flex-direction: column;
    }
  }